@layer utils {
	.transparent-bg {
		background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%),
			linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
		background-size: 40px 40px;
		background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
		background-color: #f5f5f5;
	}
	.checked-grid-lines {
		background-image: linear-gradient(to right, var(--color-brand-red-dis) 1px, transparent 1px),
			linear-gradient(to bottom, var(--color-brand-red-dis) 1px, transparent 1px);
		background-size: var(--space-l) var(--space-l);
		/* background-color: white; */
	}
	.cool-doted-bg {
		background-color: var(--color-sys-invert-highlight-slight);
		backdrop-filter: blur(4px);
		background-image: radial-gradient(var(--color-sys-invert-highlight) 1px, transparent 1px);
		background-size: 3px 3px;
	}
	.section-block {
		min-height: calc(100vh - var(--header-height));
		scroll-snap-align: start;
		padding-block-start: var(--header-height);
	}
	.padding-center-center {
		padding: var(--space-m);
		display: flex;
		flex-direction: column;
		justify-content: center; /* Horizontal */
		align-items: center;
		width: 100%;
	}
	.color-slight {
		color: var(--color-sys-slight);
	}
	.color-dimmed {
		color: var(--color-sys-dim);
	}
}
