@layer utils {
	.transparent-bg {
		background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%),
			linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
		background-size: 40px 40px;
		background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
		background-color: #f5f5f5;
	}
	.chip {
		padding: 0.25em 0.75em;
		border: 1px dashed var(--color-brand-red-slight);
		border-radius: 4rem;
	}
	.cool-doted-bg {
		background-image: radial-gradient(var(--color-brand-red-dis) 1px, transparent 1px);
		background-size: 3px 3px;
	}

	.center-center {
		display: flex;
		flex-direction: column;
		justify-content: center; /* Horizontal */
		align-items: center;
	}
	.wrapper {
		margin-inline: auto;
		max-width: var(--display-width-lg);
		padding-inline-start: calc(max(var(--side-space), env(safe-area-inset-left)));
		padding-inline-end: calc(max(var(--side-space), env(safe-area-inset-right)));
		padding-block-start: calc(var(--header-height) + var(--side-space));
		padding-block-end: var(--side-space);
		@media (976px >= width) {
			--side-space: var(--space-l);
		}
		@media (480px >= width) {
			--side-space: var(--space-m);
		}
	}
	.color-slight {
		color: var(--color-sys-slight);
	}
	.color-dimmed {
		color: var(--color-sys-dim);
	}
	.torn-paper-bottom {
		--torn-paper-image: url('/images/torn-2.webp');
		--torn-paper-bg-color: var(--color-sys-invert-main);
		padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
		position: relative;
		&::after {
			content: '';
			pointer-events: none;
			position: absolute;
			inset: 0;
			background-color: var(--torn-paper-bg-color);
			mask-image: var(--torn-paper-image);
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: bottom;
		}
	}
	.external-icon {
		&::after {
			content: '';
			display: inline-block;
			clip-path: polygon(
				0% 0%,
				33.4% 0%,
				33.4% 16.7%,
				16.7% 16.7%,
				16.7% 83.5%,
				83.5% 83.5%,
				83.5% 16.7%,
				83.5% 33.4%,
				83.5% 25.05%,
				50% 57%,
				42% 50%,
				75% 16.7%,
				66.8% 16.7%,
				66.8% 0%,
				100% 0%,
				100% 33.4%,
				83.5% 33.4%,
				83.5% 66.8%,
				100% 66.8%,
				100% 100%,
				0% 100%
			);
			background-color: var(--color-sys-dim);
			width: calc(var(--space-2xs) * 1.25);
			height: calc(var(--space-2xs) * 1.25);
			margin-inline-start: var(--space-2xs);
		}
	}
	.do-it {
		visibility: hidden;
		display: none;
	}
}
